@model Sispae.Entities.MProyectos.Models;
@{
    ViewData["Title"] = "Detalle del Proyecto";
    int i = 0;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-12">
                <a href="/proyectos/catalogo" type='button' class="btn btn-sm btn-warning float-right"
                   data-toggle="tooltip" title="Regresar al Listado de Servicios" data-placement="top">
                    <i class="fal fa-arrow-left"></i>
                </a>
            </div>
            <div class="row col-lg-12">
                <div class="form-group col-lg-4">
                    <label for="name">Catálogo: *</label>
                    <select class="form-control" name="nombre" id="tipoProyecto">
                        <option value="PAE">Programa Anual de Ejecución</option>
                        <option value="Ahorros">Sujetos a Disponibilidad Presupuestal</option>
                    </select>
                </div>
                <div class="form-group col-lg-8">
                    <label for="name">Nombre del Proyecto: *</label>
                    <textarea class="form-control" name="nombre" id="nombreProyecto" style="height:100px">@Model.proyecto.Nombre</textarea>
                </div>
            </div>
        </div>
        <div class=" col-lg-12">
            <button type="button" class="btn btn-danger float-right ml-3" data-toggle="tooltip" title='Cancelar cambios y regresar' data-placement="top">Cancelar</button>
            <button type="button" class="btn btn-primary float-right saveProject" data-toggle="tooltip" title='Guardar la información capturada' data-placement="top">Guardar</button>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-header bg-joke text-white">
            <h5>Unidades Ejecutoras</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12 mt-3">
                    <h5 class="font-weight-bold">Unidades Ejecutoras del Gasto (UEG)</h5>
                    Proyecto asignado a las siguientes unidades ejecutoras del gasto
                    <a href="#" type='button' class='btn-sm btn-success mr-2 float-right addUeg' data-toggle="tooltip" title="Agregar Unidad Ejecutora del Gasto" data-placement="top">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
                <div class="row col-lg-12 mt-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ejercicio</th>
                                <th>Clave</th>
                                <th>Descripción</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.uegs.Count != 0)
                            {
                                @foreach (var ueg in Model.uegs)
                                {
                                    i++;
                                    <tr>
                                        <td>@i</td>
                                        <td>@ueg.Ejercicio</td>
                                        <td>@ueg.NumeroUEG</td>
                                        <td>@ueg.Nombre</td>
                                        <td class="text-center">
                                            <a href='#' class='text-danger deleteUEG' data-proyecto="@Model.proyecto.Id" data-unidad="@ueg.UnidadId" data-ejercicio="@ueg.Ejercicio">
                                                <i class='fas fa-times'></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr class="text-center">
                                    <td colspan="4">No hay <strong>Unidad(es) Ejecutoras del Gasto</strong> asignadas a este proyecto</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal para la asignación de perfiles*@
<div class="modal fade" id="modal-ueg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-joke">
                <h4 class="modal-title text-white">Asignar UEG(s)</h4>
                <button type="button" class="close close-incidencias text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-row">
                            <input type="hidden" id="usuarioId" />
                            <div class="form-group col-lg-2">
                                <label for="UEG">Ejercicio:</label>
                                <select class="form-control" id="selectEjercicio">
                                    @for (var j = DateTime.Now.Year; j < (DateTime.Now.Year + 3); j++)
                                    {
                                        <option value="@j">@j</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="descUEG">Unidad Ejecutora del Gasto: </label>
                                <select class="form-control select2bs4 uegs" id="UEGId" multiple="multiple"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-primary" id="asignaUeg">Asignar UEG(s)</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@*Fin Modal para la asignación de perfiles*@

@section Scripts{
    <script>
        window.onload = function () {
            var model = @Html.Raw(Json.Serialize(@Model));

            if (model.proyecto != null) {
                $("#tipoProyecto").val(model.proyecto.tipo);
            }

            $('[data-toggle="tooltip"]').tooltip();

            /*Inicialización del Select2*/
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            });

            $('.addUeg').click(function () {
                var options = "<option value='' disabled>Seleccione una opción</option>";
                axios.get('/ueg/unidades').then(response => {
                    response = response.data;
                    console.log(response);
                    if (Object.keys(response).length > 0) {
                        for (var i = 0; i < Object.keys(response).length; i++) {
                            options +=
                                "<option value='" + response[i].id + "'>" + response[i].descripcion + "</option>";
                        }
                        $('.uegs').html(options);
                    }
                });
                $('#modal-ueg').modal('show');
            });

            $('#asignaUeg').click(function () {
                var uegs = $('.uegs').val();
                var ejercicio = $('#selectEjercicio').val();
                var array = new Array();
                var integraciones = new Array();

                var table = "";
                if (uegs.length == 0) {
                    Swal.fire({
                        'icon': 'error',
                        'title': 'Proyectos',
                        'html': 'No se ha seleccionado ninguna <strong>Unidad Ejecutora del Gasto</strong>. Favor de revisar.'
                    });
                    return false;
                }

                for (var i = 0; i < uegs.length; i++) {
                    array.push({ UnidadId: parseInt(uegs[i]), ProyectoId: parseInt(model.proyecto.id), Ejercicio: ejercicio });
                }

                //insertamos las integraciones de acuerdo a las unidades Ejecutoras del gasto
                for (var i = 0; i < uegs.length; i++) {
                    if (model.proyecto.tipo == "Ahorros") {
                        integraciones.push({ ProyectoId: parseInt(model.proyecto.id), UEGId: uegs[i],Tipo:"Ahorros", UsuarioId: parseInt(@User.Claims.ElementAt(0).Value), Estatus: "Asignado", Ejercicio: ejercicio });
                    }
                    else
                    {
                        integraciones.push({ ProyectoId: parseInt(model.proyecto.id), UEGId: uegs[i], UsuarioId: parseInt(@User.Claims.ElementAt(0).Value), Estatus: "Asignado", Ejercicio: ejercicio });
                    }
                }

                axios.post('/proyectosUnidad/insertaPU', array).then(response => {
                    if (response.data != -1)
                    {
                        axios.post('/integracion/integraProyecto', integraciones).then(response => {
                            if (response.data != -1) {
                                Swal.fire({
                                    'icon': 'success',
                                    'title': 'Proyectos',
                                    'html': 'Se asignaron la(s) <strong>Unidad(es) Ejecutora(s) del Gasto</strong> al proyecto correctamente.'
                                }).then(function () {
                                    window.location.reload();
                                });
                            } else {
                                Swal.fire({
                                    'icon': 'error',
                                    'title': 'Proyectos',
                                    'html': 'Hubo un error al asignar el proyecto.'
                                });
                            }
                        }).catch(error => {
                            Swal.fire({
                                'icon': 'error',
                                'title': 'Proyectos',
                                'html': 'Hubo un error al asignar el proyecto.'
                            });
                        });
                    }
                }).catch(error => {
                    Swal.fire({
                        'icon': 'error',
                        'title': 'Proyectos',
                        'html': '<p style="text-align: justify;">No se asignaron la(s) <strong>Unidad(es) Ejecutora(s) del Gasto</strong> al proyecto de correctamente, verifique que no fue agregada(s) previamente o contacte al administrador del sistema.</p>'
                    });
                });
            });

            $(".deleteUEG").click(function () {
                Swal.fire({
                    'icon': 'warning',
                    'title': 'Proyectos',
                    'html': '¿Estás seguro de eliminar <strong>Unidad Ejecutora del Gasto</strong> del Proyecto?',
                    'confirmButtonColor': '#3085d6',
                    'cancelButtonColor': '#d33',
                    'confirmButtonText': 'Si, eliminar',
                    'cancelButtonText': 'Cancelar',
                    'showCancelButton': true
                }).then(data => {
                    if (data.isConfirmed) {
                        axios.get('/proyectosUnidad/eliminaPU/' + $(this).data('proyecto') + '/' + $(this).data('unidad')+ '/' + $(this).data('ejercicio')).then(response => {
                            if (response.status == 200) {
                                Swal.fire({
                                    'icon': 'success',
                                    'title': 'Proyectos',
                                    'html': 'Se eliminó la <strong>Unidad Ejecutora del Gasto</strong> correctamente.'
                                }).then(function () {
                                    window.location.reload();
                                });
                            }
                        }).catch(error => {
                            Swal.fire({
                                'icon': 'error',
                                'title': 'Proyectos',
                                'html': 'No se eliminó la <strong>Unidad Ejecutora del Gasto</strong> correctamente. Favor de contactar al administrador.'
                            });
                        });
                    }
                });
            });
            console.log(model);
            $(".saveProject").click(function () {
                var tipo = $('#tipoProyecto').val();
                var nombre = $('#nombreProyecto').val();

                axios.post('/proyectos/actualizarProyecto', { Id: parseInt(model.proyecto.id), Tipo: tipo, Nombre: nombre }).then(response => {
                    if (response.data != -1) {
                        Swal.fire({
                            'icon': 'success',
                            'title': 'Catálogo de Proyectos',
                            'html': 'Se actualizó el proyecto correctamente.'
                        }).then(function () {
                            window.location.href = "/proyectos/catalogo/detalle/" + model.proyecto.id;
                        });
                    }
                });
            });
        }
    </script>
}